<details>
  <summary>Menu</summary>
  <ul>
    <li>Item 1</li>
    <li>Item 2</li>
  </ul>
</details>

<h1>I’m a math teacher who makes Web art about creating happy
  schools.</h1>

  <section>
    <h2>Topic 1</h2>

    <p>Introduce topic 1 with some prose. AROOOOOOOO</p>
  </section>
