/* global𖤣style.css */

/* ~ Colors ~ */

:root {
  --mascot-yellow: hsl(39, 91%, 65%);
  --pansy-purple: #870058;
  --vivid-burgundy: #a4303f;
  --cadet-blue: #50a2a7;
  --glaucous: #6286bc;

  --prose-bg-white: #fffbf5;

  /* Text colors */
  --prose-black: hsl(39, 91%, 5%);
  --prose-title-blue: var(--cadet-blue);
}

/* ~ Fonts ~ */

  /* ~~ Cello Sans ~~ */

  @font-face {
    font-family: 'Cello Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Cello Sans Regular'), url('/fonts/Cello-Sans-Regular.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Cello Sans';
    font-style: italic;
    font-weight: normal;
    src: local('Cello Sans Italic'), url('/fonts/Cello-Sans-Italic.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Cello Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Cello Sans Light'), url('/fonts/Cello-Sans-Light.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Cello Sans';
    font-style: italic;
    font-weight: 300;
    src: local('Cello Sans Light Italic'), url('/fonts/Cello-Sans-Light-Italic.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Cello Sans';
    font-style: normal;
    font-weight: 500;
    src: local('Cello Sans Medium'), url('/fonts/Cello-Sans-Medium.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Cello Sans';
    font-style: italic;
    font-weight: 500;
    src: local('Cello Sans Medium Italic'), url('fonts/Cello-Sans-Medium-Italic.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Cello Sans';
    font-style: normal;
    font-weight: bold;
    src: local('Cello Sans Bold'), url('fonts/Cello-Sans-Bold.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Cello Sans Bold Italic';
    font-style: italic;
    font-weight: bold;
    src: local('Cello Sans Bold Italic'), url('fonts/Cello-Sans-Bold-Italic.woff2') format('woff2');
  }

p {
  font-family: "Cello Sans", "Gill Sans", sans-serif;
  color: var(--prose-black);
}

a {
  color: var(--glaucous);
}
