<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <title>Front Door | ProvocaTeach</title>
  <meta name="description" content="ProvocaTeach uses semi-serious Web
  art to propose ways that school could be happier."/>

  <!-- Stylesheet and favicon -->
  <link rel="stylesheet" href="/css/global-style.css"/>
  <link rel="stylesheet" href="/css/front-door-style.css"/>
  <link rel="icon" href="/favicon.ico"/>
</head>
<body>
  <%
    @yield
  %>
</body>
</html>
